@import "../../styles/petitfont.scss";
@import "../../styles/opensans.scss";
@import "../../styles/colors.scss";

.info-card-container {
  background-color: $paper;
  flex-direction: column;
  display: flex;
  padding: 0px;
  .feed-your-mind-header {
    background-image: url(../../assets/mindhero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    margin: 0;
    padding: 0;
      .header-top-section {
        align-items: center;
        display: flex;
        height: 50%;
        justify-content: center;
        .feed-your-mind-title {
          animation-name: showup;
          animation-duration: 1s;
          color: $palegold;
          font-family: $petit;
          font-size: 5em;
          margin: 130px 0px 0px 0px;
          text-align: center;
        }
      }
      .header-bottom-section {
        height: 50%;
        .feed-your-mind-quote {
          animation-duration: 5s;
          animation-name: slidein;
          color: $paper;
          font-size: 20px;
          font-family: $open-sans;
          margin: 0px 0px 0px 0px;
          padding: 0px 60px 0px 60px;
          text-align: center;
          overflow-x: scroll;
          overflow-y: scroll;
        }
        .feed-your-mind-quote-author {
          animation-name: slidein;
          animation-duration: 5s;
          color: $paper;
          font-size: 16px;
          font-family: $open-sans;
          margin: 30px 0px 0px 0px;
          text-align: center;
        }
      }
  }
  .card-container {
    background: linear-gradient(0deg, $charcoal, $paper 70%);
    display: flex;
    overflow-x: scroll;
  }
}

@keyframes slidein {
  from {
    margin-left: 90%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes showup {
  0% {opacity:0.1;}
  10% {opacity:0.2;}
  20% {opacity:0.3;}
  30% {opacity:0.4;}
  40% {opacity:0.5;}
  50% {opacity:0.6;}
  60% {opacity:0.7;}
  70% {opacity:0.8;}
  80% {opacity:0.9;}
  100% {opacity:1;}
}
