@import "../../styles/opensans.scss";
@import "../../styles/colors.scss";

.graphs-container {
  font-family: $open-sans;
  margin: 0;
  padding: 0;
  .graphs-container-header {
    align-items: center;
    background-image: url(../../assets/schooldatahero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    font-size: 25px;
    height: 600px;
    justify-content: center;
    .school-data-title {
      color: $paper;
      margin: 0;
      opacity: 0.8;
    }
  }
  .school-data-prelude {
    color: $charcoal;
    .my-brothers-keeper {
      margin: 40px auto;
      text-align: center;
      width: 70%;
    }
    .my-brothers-keeper-text {
      border-bottom: 1px solid $charcoal;
      margin: 0 auto;
      padding: 0px 0px 80px 0px;
      text-align: center;
      width: 70%;
    }
  }
  .bar-graph {
    background-color: $paper;
    color: $charcoal;
    margin: 80px 0px;
    height: 700px;
    width: 100%;
    .title-description-container {
      height: 20%;
      margin: 0 auto;
      width: 70%;
      .data-title {
        font-size: 21px;
        text-align: center;
      }
      .data-description {
        text-align: center;
      }
    }
    .graph-container {
      height: 80%;
      margin: 0 auto;
      width: 90%;
    }
  }
}
