@import "../../styles/opensans.scss";
@import "../../styles/colors.scss";

.options-list-container {
  font-family: $open-sans;
  width: 100vw;
  .cs-placeholder-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .cs-placeholder {
      background-color: $black;
      border: 1px solid black;
      color: $palegold;
      display: block;
      font-size: 25px;
      height: 70px;
      margin: 50px 0px 0px 0px;
      padding: 10px 0px 0px 0px;
      text-align: center;
      width: 400px;
      img {
        height: 30px;
        left: 30px;
        position: relative;
        top: 5px;
        width: 30px;
      }
    }
    .cs-placeholder:hover {
      background-color: $palegold;
      color: $charcoal;
      cursor: pointer;
    }
    .news-submit-button {
      background-color: $black;
      border-radius: 10px;
      border-width: 0px;
      color: $palegold;
      font-size: 18px;
      height: 40px;
      margin-top: 35px;
      width: 140px;
    }
    .news-submit-button:hover {
      background-color: $palegold;
      border: 1px solid $charcoal;
      color: $charcoal;
      cursor: pointer;
    }
    .news-submit-button:focus {
      outline: none;
    }
  }
  .options-list-reveal {
    background-color: $black;
    height: 200px;
    margin: 0;
    padding: 0;
    overflow: scroll;
    width: 400px;
    ul {
      background-color: $black;
      margin: 0;
      opacity: 0.9;
      padding: 0;
      li {
        color: $paper;
        font-size: 20px;
        font-weight: lighter;
        margin: 0;
        padding: 10px 0px 10px 0px;
        text-align: center;
      }
      li:hover {
        background-color: $palegold;
        color: $charcoal;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
  .options-list:after {
    content: '';
    clear: both;
    display: table;
  }
  .hidden {
    display: none;
  }
}
