@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.options-list-container {
  font-family: "Open Sans", sans-serif;
  width: 100vw; }
  .options-list-container .cs-placeholder-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
    .options-list-container .cs-placeholder-container .cs-placeholder {
      background-color: #000;
      border: 1px solid black;
      color: #c0b283;
      display: block;
      font-size: 25px;
      height: 70px;
      margin: 50px 0px 0px 0px;
      padding: 10px 0px 0px 0px;
      text-align: center;
      width: 400px; }
      .options-list-container .cs-placeholder-container .cs-placeholder img {
        height: 30px;
        left: 30px;
        position: relative;
        top: 5px;
        width: 30px; }
    .options-list-container .cs-placeholder-container .cs-placeholder:hover {
      background-color: #c0b283;
      color: #373737;
      cursor: pointer; }
    .options-list-container .cs-placeholder-container .news-submit-button {
      background-color: #000;
      border-radius: 10px;
      border-width: 0px;
      color: #c0b283;
      font-size: 18px;
      height: 40px;
      margin-top: 35px;
      width: 140px; }
    .options-list-container .cs-placeholder-container .news-submit-button:hover {
      background-color: #c0b283;
      border: 1px solid #373737;
      color: #373737;
      cursor: pointer; }
    .options-list-container .cs-placeholder-container .news-submit-button:focus {
      outline: none; }
  .options-list-container .options-list-reveal {
    background-color: #000;
    height: 200px;
    margin: 0;
    padding: 0;
    overflow: scroll;
    width: 400px; }
    .options-list-container .options-list-reveal ul {
      background-color: #000;
      margin: 0;
      opacity: 0.9;
      padding: 0; }
      .options-list-container .options-list-reveal ul li {
        color: #f4f4f4;
        font-size: 20px;
        font-weight: lighter;
        margin: 0;
        padding: 10px 0px 10px 0px;
        text-align: center; }
      .options-list-container .options-list-reveal ul li:hover {
        background-color: #c0b283;
        color: #373737;
        cursor: pointer;
        font-weight: 600; }
  .options-list-container .options-list:after {
    content: '';
    clear: both;
    display: table; }
  .options-list-container .hidden {
    display: none; }
