@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script);
* {
  box-sizing: border-box; }
  * html {
    height: 100%;
    width: 100%; }
    * html body {
      background-color: #f4f4f4;
      height: 100%;
      margin: none;
      width: 100%; }
      * html body .App {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%; }
