@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script);
* {
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  margin: none;
  background-color: #f4f4f4; }

.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }
