@import "../../styles/opensans.scss";
@import "../../styles/colors.scss";

.card {
  color: $paper;
  float: left;
  height: 550px;
  margin-bottom: 30px;
  min-width: 400px;
  padding: 0 1.7rem;
  .wrapper {
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    min-height: 540px;
    overflow: hidden;
    position: relative;
    &:hover {
      .data {
        transform: translateY(-15px);
      }
    }
  }
  .data {
    bottom: -16px;
    position: absolute;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    width: 100%;
    .content {
      background-color: $black;
      box-shadow: 0 5px 30px 10px rgba($black, 0.3);
      padding: 1em;
      position: relative;
      opacity: 0.8;
      z-index: 1;
        .card-title {
          font-family: $open-sans;
          font-weight: 300;
          margin-top: 10px;
          overflow: scroll;
        }
        .card-description {
          font-weight: 300;
          height: 70px;
          margin: 0px 0px 0px 0px;
          overflow: scroll;
          padding-top: 15px;
        }
        a {
          color: $silk;
          display: block;
          font-family: $open-sans;
          padding-top: 10px;
          text-decoration: none;
        }
        a:hover {
          color: $palegold;
          font-weight: 600;
          text-decoration: underline;
        }
    }
  }
}
