@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.card {
  float: left;
  padding: 0 1.7rem;
  min-width: 400px;
  height: 550px;
  color: #fff; }
  .card .wrapper {
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px; }
    .card .wrapper:hover .data {
      transform: translateY(-15px); }
  .card .data {
    position: absolute;
    bottom: -16px;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s; }
    .card .data .content {
      padding: 1em;
      position: relative;
      z-index: 1;
      background-color: #000;
      opacity: 0.8;
      box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3); }
      .card .data .content .card-title {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        margin-top: 10px; }
      .card .data .content .card-description {
        height: 70px;
        margin: 0px 0px 0px 0px;
        overflow: scroll;
        padding-top: 15px;
        font-weight: 300; }
      .card .data .content a {
        text-decoration: none;
        display: block;
        padding-top: 10px;
        color: #fff;
        font-family: "Open Sans", sans-serif; }
      .card .data .content a:hover {
        text-decoration: underline;
        font-weight: 600;
        color: #59e5c2; }
